<div class="border-top">
    <div class="container">
        <footer class="pt-5">
          <div class="row">
            <div class="col-12  col-md-6 col-lg-4 mb-3 text-center text-md-start">
              <h5>Contact Us</h5>
              <div class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.</div>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-globe"></i>715 Fake Street, New York 10021 USA</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-envelope"></i>stroykaexample.com</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-phone"></i>(800) 060-0730, (800) 060-0730</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class="bi bi-clock"></i>Mon-Sat 10:00pm - 7:00pm</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-3 col-lg-2 mb-3 text-center text-md-start">
              <h5>Information</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Delivery Information</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Brand</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Returns</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Site Map</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-3 mb-3 col-lg-2 text-center text-md-start">
              <h5>My Account</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Store Location</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Order History</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Wishlist</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">newsletter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">special</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gift Card</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Affiliate</a></li>
              </ul>
            </div>
      
            <div class="col-12 col-md-6 col-lg-4 mb-3 text-center text-md-start">
              <form>
                <h1>Newslatter</h1>
                <p>Praesent pellentesque volutpat ex, vitae auctor lorem pulvinar mollis felis at lacinia..</p>
                <div class="d-flex flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control border-none" placeholder="Email address">
                  <button class="btn btn-warning border-none" type="button">Subscribe</button>
                </div>
              </form>
              <div class="mt-3">Follow us on social Networks</div>
              <div>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-instagram"></i></div>
            </div>
          </div>
      
          <div class="d-flex flex-column-reverse flex-md-row justify-content-between py-2 border-top text-center">
            <p>Powered by Angular — Design by Kos</p>
            <ul class="list-unstyled d-flex text-center">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-paypal"></i></a></li> 
            </ul>
          </div>
        </footer>
      </div>

</div>
