.border-corner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.card1{
    border: 1px dashed rgb(186, 185, 185);
.border-2{
    border: 1px dashed rgb(186, 185, 185);
   
 }
 button{
    width: 95px;
 }
}
.bi{
    font-size:70px;
}

a{
cursor: pointer;
}