<div class="d-flex flex-wrap">
    <div class="card1  border-corner border-dashed p-5 m-2 col-12 col-sm-6 col-md-3">
        <div class="text-center">
        <div class="d-flex justify-content-center"><p class="bi bi-plus border-2 rounded-circle"></p></div>
        <button class="btn btn-light border-corner " routerLink="../editaddress">Add New</button>
        </div>
    </div>
    <div class="card border-corner p-3 pt-0 m-2 col-12  col-sm-5 col-md-4">
        <div class="d-flex justify-content-end">
            <span class="badge text-bg-warning border-corner">DEFAULT</span>
        </div>
        <div >
           <h6>Helena Garcia</h6>
           <p>Random Federation</p>
            <p>115302, Moscow</p>
            <p>ul. Varshavskaya, 15-2-178</p>
            <small>Phone Number</small>
            <p>1324347838753785</p>
            <small>Email Address</small>
            <p>abchsfhhshgmail.com</p>
            <div class="mt-3">
                <a routerLink="../editaddress" class="text-decoration-none p-2 ps-0">Edit</a>
                <a href="#" class="text-decoration-none p-2 ps-0">Remove</a>
            </div>
        </div>
    </div>
    <div class="card border-corner ps-3 pe-3 m-2 col-12 col-sm-11 col-md-4 p-3" *ngFor="let address of address,index as i">
        <div>
           <h6>{{address.name}}</h6>
           <p>{{address.street}}</p>
            <p>{{address.state}}</p>
            <p>{{address.country}}</p>
            <small>Phone Number</small>
            <p>{{address.phone}}</p>
            <small>Email Address</small>
            <p>{{address.email}}</p>
            <div class="mt-3">
                <a routerLink="../editaddress" class="text-decoration-none p-2">Edit</a>
                <a class="text-decoration-none p-2" (click)="removeAddress(i)">Remove</a>
            </div>
        </div>
    </div>
    
</div>
