<div class="card border-corner m-2">
    <div class="border-bottom">
        <h3 class="p-2">Change Password</h3>
    </div>
    <div class="col-12 col-md-6 p-3">
        <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Current Password</label>
                <input type="first name" class="form-control" placeholder="Current Password">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="last name" class="form-control" placeholder="New Password">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Reenter New password</label>
                <input type="last name" class="form-control" placeholder="Reenter New Password">
              </div>
              <button type="submit" class="btn btn-warning border-corner">Change</button>
              </form>
    </div>
</div>