<div class="p-2">
<div class="card p-4 border-corner">
    <div class="flex-column-reverse flex-sm-row d-flex justify-content-between">
    <div>
        <h2 class="border-bottom">Order #3857</h2>
    </div>
    <div>
 <button class="btn btn-light border-corner">Back To List</button>
 </div>
 </div>
 <p>Was placed on 19 October, 2020 and is currently On hold.
 </p>
</div>
<div class="card border-corner overflow-y-auto border-2">
<table>
    <tr class="border-bottom">
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Electric Planer Brandix KL370090G 300 Watts × 2</td>
        <td>$1,398.00</td>
    </tr>
    <tr>
        <td>Undefined Tool IRadix DPS3000SY 2700 Watts × 1	</td>
        <td>$849.00 </td>
    </tr>
    <tr class="border-bottom">
        <td>Brandix Router Power Tool 2017ERXPK × 3	</td>
        <td>$3,630.00</td>
    </tr>
    <tr>
        <th>Subtotal</th>
        <td>$5,877.00</td>
    </tr>
    <tr>
        <th>Store Credit</th>
        <td>-$20.00</td>
    </tr>
    <tr class="border-bottom">
        <th>Shipping</th>
        <td>$25.00</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>$5,882.00</td>
    </tr>

</table>
</div>
<div class="d-sm-flex">
    <div class="card border-corner ps-3 pe-3 mt-2 me-1">
        <div class="d-flex justify-content-end">
            <span class="badge text-bg-secondary border-corner">Shipping Address</span>
        </div>
        <div>
           <h3>Helena Garcia</h3>
           <p>Random Federation
            115302, Moscow
            ul. Varshavskaya, 15-2-178</p>
            <small>Phone Number</small>
            <p>1324347838753785</p>
            <small>Email Address</small>
            <p>abchsfhhshgmail.com</p>
        </div>
    </div>
    <div class="card border-corner ps-3 pe-3 mt-2 ms-1">
        <div class="d-flex justify-content-end">
            <span class="badge text-bg-secondary border-corner">Shipping Address</span>
        </div>
        <div>
           <h3>Helena Garcia</h3>
           <p>Random Federation
            115302, Moscow
            ul. Varshavskaya, 15-2-178</p>
            <small>Phone Number</small>
            <p>1324347838753785</p>
            <small>Email Address</small>
            <p>abchsfhhshgmail.com</p>
        </div>
    </div>
</div>
</div>
