.border-corner{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
table{
    overflow: scroll;
td,th{
    padding-left: 32px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 3px;
    font-size: 15px;
    font-family: sans-serif;
    text-wrap:nowrap;
}
}

small{
    font-size: 12px;
}