<div class="card border-corner m-2">
  <div class="border-bottom p-3">
    <h3>Order History</h3>
  </div>
<div class="">
    <table class="table">
        <thead class="border-top">
          <tr>
            <th scope="col">ORDER</th>
            <th scope="col">DATE</th>
            <th scope="col">STATUS</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#8132</th>
            <td>02 April, 2019</td>
            <td>Pending</td>
            <td>$2,719.00 for 5 item(s)</td>
          </tr>
          <tr>
            <th scope="row">#7592</th>
            <td>28 March, 2019</td>
            <td>Pending</td>
            <td>$374.00 for 3 item(s)</td>
          </tr>
          <tr>
            <th scope="row">#7192</th>
            <td>15 March, 2019</td>
            <td>Shipped</td>
            <td>$791.00 for 4 item(s)</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
