.border-none{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}
.fs-14{
    font-size: 14px;
}

.y-color{
    background-color: #f7e30e;
}

.dropdown-btn {
    padding: 10px 20px;
    background-color:#ffc107;
    border: none;
    cursor: pointer;
    font-size: small;
    text-wrap:nowrap;
    height: 51px;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 9px;
    min-width: 120px;
    font-size:smaller;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
    a:hover{
      color: blue;
    }
  }

  
  .dropdown-content a {
    padding: 6px 7px;
    color: #3e3d3d;
    text-decoration: none;
    display: block;
  }

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(1)
    }
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
   
  }
  


  .onopacity:hover{
    background-color: #fcd663
  }

  .category-list:hover{
    background-color:#464e54;
  }

  .min-w-200{
    min-width: 200px;
  }

// crousel position
    
@media only screen and (min-width: 970px) {
        .crousal-position{
          left: 160px;
          width: 70%;
        }
      }

// search
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  
  .search {
    display: inline-block;
  }
  
  .search input {
  
    background:#ffe999;
    border: 1px solid #aaa;
   
  }
  
  .search input { text-indent: 32px;}
  .search .bi-search { 
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  @media only screen and (min-width: 575px) {
    .search-icon{
      display: none;
    }
  }

  .offset-width{
    max-width:80%;
  }

  // top canvas 
.offcanvas-top{
    height: 70px;
    overflow: hidden;
  }

  .accordion-width{
    width: 250px;
}





.category-dropdown {
  position: relative;
  display: inline-block;
  width: 102%;
  p{
    font-size: 14px;
  }
}


.category-content {
  display: none;
  position: absolute;
  left: 250px;
  top:5px;
  background-color: #fff;
  max-width: 900px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
 
}

// .category-dropdown:hover{
//   .category-head{
//     text-decoration: underline;
//   }
// }


.category-dropdown:hover .category-content {
  display: block;

  a:hover {
    color: blue;
    text-decoration: underline;

  }
 
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  color: red;
}

.accordion-button-bg{
  background-color: #f1f1f1;
}
.w-800{
  width: 800px;
}
.w-200{
  width: 200px;
}
.w-600{
  width: 800px;
}

// side bar
.accordion-item{
  a{
    font-size: 15px;
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-weight: lighter
   }
}

.accordion-collapse{
  background-color: #178f31;
}

.accordion-button .collapsed {
  color: white;
}

.width-19{
  width: 19rem;
  left:-232px !important;
}

.bi-person{
  font-size: 25px;
}
// profile hover
.button-bg:hover {
  background-color: #3d464d;    
  border-color: #3d464d;
  color: white;
}

.password-column:hover {
  background: #f0f0f0;    
  color:#3d464d;
}
.password-column-color{
  color:#3d464d;
}

.scrollbar {
  overflow-y: scroll ;
  height: 69vh;
}

.hover:hover {
  background-color:#f2f2f2;;
}

.pointer{
  cursor: pointer;
}

.bg-lite-dark{
 background-color: #3d464d;
}
