<div class="">
    <div class="d-block d-sm-flex  justify-content-between mb-3 row row-cols-12">
        <div class="card border-corner p-5 d-flex justify-content-center text-center mx-2 my-2 col"
            style="width: 25rem;">
            <div class="">
                <img src="https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/avatars/avatar-3.jpg"
                    class="rounded-circle">
                <div class=>
                    <h6>Helena Garcia</h6>
                    <p>stroykaexample.com</p>
                    <button class="btn btn-light border-corner" routerLink="../editprofile">Edit Profile</button>
                </div>
            </div>
            
        </div>
        <div class="card border-corner p-5 my-2 mx-2 col" style="width: 25rem;">
            <p>Helena Garcia</p>
            <p>Random Federation</p>
            <p>115302, Moscow</p>
            <p>ul. Varshavskaya, 15-2-178</p>
            <span>Phone Number</span>
            <p>00000000</p>
            <span>Email Address</span>
            <p>abcgmail.com</p>
            <a routerLink="../editaddress" class="text-decoration-none">Edit Address</a>
        </div>
    </div>

    <div class="card border-corner">
    <h4 class="p-3">Recently Orderd</h4>
       
   <div class="res">
    <table class="table">
        <thead class="border-top">
          <tr>
            <th scope="col">ORDER</th>
            <th scope="col">DATE</th>
            <th scope="col">STATUS</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#8132</th>
            <td>02 April, 2019</td>
            <td>Pending</td>
            <td>$2,719.00 for 5 item(s)</td>
          </tr>
          <tr>
            <th scope="row">#7592</th>
            <td>28 March, 2019</td>
            <td>Pending</td>
            <td>$374.00 for 3 item(s)</td>
          </tr>
          <tr>
            <th scope="row">#7192</th>
            <td>15 March, 2019</td>
            <td>Shipped</td>
            <td>$791.00 for 4 item(s)</td>
          </tr>
        </tbody>
      </table>
</div>
</div>




</div>