<div class="container my-4 p-x-md">
    <div  class="d-flex justify-content-center">
    <div class="text-center pb-5">
    <i class="bi bi-check2-circle text-warning"></i>
    <h1>Thank You</h1>
    <div>Your order has been received</div>
    <div>
        <button class="btn btn-light rounded-0">Go To Homepage</button>
    </div>
    </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4 mb-4 m-0 text-center">
      <div class="border-dashed-end p-2 mb-2"><p class="title">Order number</p><p class="value">#3857</p> </div>
      <div class="border-dashed-end-md p-2 mb-2"><p class="title">Order number</p><p class="value">#3857</p> </div>
      <div class="border-dashed-end p-2 mb-2"><p class="title">Order number</p><p class="value">#3857</p> </div>
      <div class="p-2 mb-2"><p class="title">Order number</p><p class="value">#3857</p> </div>
    </div>
    
    <table class="w-100 mb-4">
      <thead class="border">
        <tr>
            <td class="p-2">Products</td>
            <td class="p-2 d-hide">Qty</td>
            <td class="p-2">Total</td>
        </tr>
      </thead>
      <tbody class="border">
        <tr>
            <td class="d-flex align-items-center">
                <div class="p-2">
                    <img src="https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/products/product-1.jpg" width="60px">
                </div>
                <div class="">
                    <p>Electric Planer Brandix KL370090G 300 Watts</p>
                    <small class="opacity-75">Color:Yellow</small> / <small class="opacity-75">Material:Silver</small>
                    <div class="d-md-hide">
                    <span>Qty:</span>
                    <span>2</span>
                    </div>
                </div>
            </td>
            <td class="p-2 d-hide">2</td>
            <td class="p-2">$1,398.00</td>
        </tr>
        <tr class="border-top">
            <th class="p-3 w-75">Subtotal</th>
            <td>$5,877.00</td>
        </tr>
        <tr>
            <th class="p-3 w-75">Store Credit</th>
            <td>-$20.00</td>
        </tr>
        <tr class="border-bottom">
            <th class="p-3 w-75">Shipping</th>
            <td>$25.00</td>
        </tr>
        <tr>
            <th class="p-3 w-75">Total</th>
            <td>$5,882.00</td>
        </tr>
      </tbody>
    </table>
    <div class="d-md-flex justify-content-between grid gap-auto">
        <div class="card rounded-0 position-relative p-4 col-md-5 mb-2 ">
            <span class="position-absolute top-0 end-0 badge text-bg-light p-1 rounded-0 me-2">Shipping Address</span>
            <div class="name">Helena Garcia</div>
            <div class="address">Random Federation
                <br>
                115302, Moscow
                <br>
                ul. Varshavskaya, 15-2-178
            </div>
            <small class="opacity-75">Phone</small>
            <P>1234567894</P>
            <small class="opacity-75">Email Address</small>
            <p>Sffdfgmail.com</p>
           
        </div>
        <div class="card rounded-0 position-relative p-4 col-md-5 mb-2">
            <div class="position-absolute top-0 end-0 badge text-bg-light p-1 rounded-0 me-2">Shipping Address</div>
            <div class="name">Helena Garcia</div>
            <div class="address">Random Federation
                <br>
                115302, Moscow
                <br>
                ul. Varshavskaya, 15-2-178
            </div>
            <small class="opacity-75">Phone</small>
            <P>1234567894</P>
            <small class="opacity-75">Email Address</small>
            <p>Sffdfgmail.com</p>
        </div>
    </div>
</div>