<div class="card border-corner mx-2 my-2" style="width: 100%;">
<div class="border-2 border-bottom p-4">
<h3>Edit Profile</h3>
</div>
<div class="col-md-6 col-12">
    <form class="p-4">
        <div class="mb-3">
          <label for="First name" class="form-label">First Name</label>
          <input type="email" class="form-control border-corner" aria-describedby="emailHelp" placeholder="First Name">
        </div>
        <div class="mb-3">
          <label for="last name" class="form-label">Last Name</label>
          <input type="password" class="form-control border-corner" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label for="email address" class="form-label">Email address</label>
            <input type="email" class="form-control border-corner" aria-describedby="emailHelp" placeholder="Email Address">
          </div>
          <div class="mb-3">
            <label for="phone Number" class="form-label">Phone Number</label>
            <input type="password" class="form-control border-corner" placeholder="Phone Number">
          </div>
          <button class="btn btn-warning border-corner mt-5 fs-5">Save</button>
        </form>
</div>

</div>