.border-corner{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}
button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}